
    * {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
    }

    body {
       font-family: 'Open Sans', sans-serif;
       color: #222;
     }

     /*
      *
      * Header
      *
      */

    header {
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      color: #697681;
      background: white;
      height: 85px;
    }

    .flex-container {
      display: flex;
    }

    .space-between {
      justify-content: space-between;
    }

    .vertical-centerer {
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }

    .header-content {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    /*
     *
     * Top Level Navigation
     *
     */

    .nav__list {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .nav__item {
      box-sizing: border-box;
      display: inline-block;
      width: 24%;
      text-align: center;
      line-height: 24px;
      padding: 24px;
    }

    /*
     *
     * Content
     *
     */

    .content {
     height: 100%;
     width: 100%;
     box-shadow: 0px 5px 15px 0px rgba(153,153,153,0.5);
     margin: 1em;
   }

   /*
    *
    * content-item
    *
    */

    .content-item {
    margin: 0;
    padding: .3rem;
    background-color: #F4F6F6;
    font: 1rem 'Fira Sans', sans-serif;
}

.content-item > h1{
  color: #697681;
  cursor: grab;
}

/*
 *
 * content-item-description
 *
 */

.content-item > h1,
.content-item-description {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
    border-radius: 4px;
}

.content-item-description {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
        color: #697681;
}

.content-item-description > p {
    margin: .2rem;
    font-size: 1rem;
}

/*
 *
 * Footer
 *
 */

footer {
    display: flex;
    justify-content: center;
    color: #697681;
    background-color: white;
}
