.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

.box{
  width: 100%;
}

@media screen and (min-width: 450px) {
  .content-item {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .content-item {
    width: 33.333333%;
  }
}

@media screen and (max-width: 644px) {
  .header__title {
    font-size: 1.5em;
    position:fixed;
    top: 2.5%;
    left: 15%;
  }
  .nav {
    background-color: #fff;
    width: 300px;
    position:absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    position:fixed;
    top: 5%;
    left: 75%;
    width: 32px;
    fill: #E0E0E0;
  }
}

@media screen and (min-width: 750px) {
  .content-item {
    width: 25%;
  }
}

@media screen and (min-width: 900px) {
  .content-item {
    width: 20%;
  }
}

@media screen and (min-width: 1050px) {
  .content-item {
    width: 16.666666%;
  }
}

@media screen and (min-width: 1200px) {
  .content-item {
    width: 14.285714%;
  }
  .content{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
