.content {
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 100%;
}

@media screen and (min-width: 450px) {
  .content-item {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .content-item {
    width: 33.333333%;
  }
}

@media screen and (min-width: 750px) {
  .content-item {
    width: 25%;
  }
}

@media screen and (min-width: 900px) {
  .content-item {
    width: 20%;
  }
}

@media screen and (min-width: 1050px) {
  .content-item {
    width: 16.666666%;
  }
}

@media screen and (min-width: 1200px) {
  .content-item {
    width: 14.285714%;
  }
  .content{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
